<header
  class="px-8 py-4 mb-12 border border-t-0 border-l-0 border-r-0 border-gray-200  border-b-1"
>
  <div class="flex items-center justify-between">
    <a class="text-2xl" href="{{ site.baseurl }}/"
      ><span class="font-semibold text-gray-900">Jakub Żelazny</span></a
    >

    <nav>
      <div>
        {% for my_page in site.pages %} {% if my_page.title %}
        <a href="{{ my_page.url | prepend: site.baseurl }}" class=""
          >{{ my_page.title }}</a
        >
        {% endif %} {% endfor %}
      </div>
    </nav>
  </div>
</header>
